.landing {
    color: white;
    text-align: center;
}
.landing img {
    width: 6em;
    margin-top: 3em;   
}
/* animation of CSS logo that doesn't really need to be in here  */
.landing img:hover{
    animation-name: cssRotate;
    animation-duration: 12s;
    animation-timing-function: steps(12);
}
@keyframes cssRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
  }
/* end animation */

.landing h2 {
    letter-spacing: 1px;
}

.landing li {
    letter-spacing: 1px;
    text-decoration: none;
    list-style-type: none;
    min-height: 2em;
    font-size: 1.4em;
    transition-duration: 120ms;
    
}
.landing li:hover {
    font-size: 1.6em;
}

.landing a {
    text-decoration: none;
    color: white;
}