html {
    background-color: rgb(66, 148, 238);
    font-family: Helvetica;
}
h1 {
    font-size: 4.5em;
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px 4px black;
    letter-spacing: 3px;
}